.select2-container--default .select2-selection--single {
  border: 1px solid #e5e6e7;
}
body {
  background: #fff;
}
.border-bottom {
  border-bottom: 1px solid #e4e4e4 !important;
}
.container {
  min-width: 960px;
}
.container .form {
  margin-bottom: 20px;
}
.breadcrumbs {
  margin-bottom: 10px !important;
}
.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0px 17px;
}
.heading .title {
  margin: 20px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.heading .form {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33%;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  padding-left: 13px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-bottom: 0px;
}
.heading input {
  border-radius: 5px;
  background: rgba(95,94,90,0.1);
  position: relative;
}
.heading .icon {
  position: absolute;
  top: 50%;
  right: 11px;
  z-index: 1;
  margin-top: -9px;
  color: #1c84c6;
  font-size: 12px;
}
.bg-grey {
  background-color: #f3f3f4;
}
.bg-grey .name {
  color: #23c6c8;
  font-size: 15px;
}
.bg-grey .name:hover {
  color: #ec7063;
}
.bg-grey .table > tbody > tr > td {
  padding: 14px;
}
.heading .btns,
.actions .btns {
  margin-left: 13px;
}
.heading .btns .btn,
.actions .btns .btn {
  padding: 6px 54px;
  font-size: 13px;
  color: #666;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.heading .btns .btn:hover,
.actions .btns .btn:hover {
  background-color: #1c84c6;
  border-color: #bababa;
  color: #fff;
}
.heading .btns .btn-link,
.actions .btns .btn-link {
  padding: 6px 12px;
  text-decoration: underline;
  border: none;
}
.heading .btns .btn-link:hover,
.actions .btns .btn-link:hover {
  color: #ec7063;
}
.filters fieldset {
  margin-bottom: 8px;
}
.filters fieldset legend {
  margin-bottom: 20px;
}
.filters fieldset .radios .radio:nth-child(1) {
  margin-top: 0;
}
.filters fieldset .radios label {
  font-size: 14px;
  padding: 0;
}
.filters fieldset .radios label .check-padding {
  padding-left: 5px;
}
.filters fieldset .form-control+.form-control {
  margin-top: 15px;
}
.filters fieldset .icon-org {
  position: absolute;
  bottom: 22%;
  right: 25px;
  color: #1c84c6;
}
.filters fieldset .icon-obj {
  position: absolute;
  bottom: 8%;
  right: 25px;
  color: #1c84c6;
}
.filters input {
  border-radius: 5px;
  background: rgba(95,94,90,0.1);
  position: relative;
}
.requests .table .name {
  font-weight: 700;
}
.requests .table .company dl,
.requests .table .object dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}
.requests .table .company dl dt,
.requests .table .object dl dt {
  margin-right: 10px;
}
.requests .table .status .label {
  display: block;
}
.select2-selection.select2-selection--single {
  height: 34px;
}
.form .destinations .row {
  background-color: #f8f8f8;
  margin-left: 0;
  border-bottom: 1px solid #e4e4e4;
}
.form .destinations .row .col-xs-4 {
  padding: 0;
  margin-top: 11px;
}
.form .destinations .row .col-xs-4 strong {
  color: #000;
  margin-left: 20px;
}
.form .destinations .row .col-xs-4 dl {
  margin-bottom: 0;
}
.form .destinations .row .col-xs-4 dl dt,
.form .destinations .row .col-xs-4 dl dd {
  margin: 5.5px 0 5.5px 20px;
}
.form .destinations .row .col-xs-4 dl dt {
  float: left;
  clear: both;
  font-weight: normal;
  width: 100px;
}
.form .destinations .row .col-xs-4 dl dd {
  float: left;
}
.form .destinations .row .col-xs-4:last-child {
  margin-left: 100px;
}
.form .request .row {
  margin-left: 0;
  background-color: #f8f8f8;
}
.form .request .row .col-xs-4 {
  margin: 10px 20px;
  padding: 0;
}
.form .request .row .col-xs-4 .form-control {
  margin-bottom: 15px;
  color: #000;
  border-radius: 0;
}
.form .request .row .col-xs-4 .select2 {
  border-radius: 0 !important;
}
.form .request .row .col-xs-12 {
  padding: 0 13px 15px 15px;
}
.form .requested-data {
  margin-bottom: 20px;
}
.form .initial-data,
.form .requested-data {
  padding: 0;
}
.form .initial-data .title,
.form .requested-data .title {
  border-radius: 5px;
  background-color: #9cc2cb;
  color: #fff;
  margin-left: 13px;
  margin-top: 10px;
  padding: 4px;
}
.form .initial-data .title:before,
.form .requested-data .title:before {
  font-family: FontAwesome;
  content: "\f147";
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
.form .initial-data .title.collapsed:before,
.form .requested-data .title.collapsed:before {
  content: "\f196";
}
.form .initial-data .grey,
.form .requested-data .grey {
  background-color: #f8f8f8;
  margin-left: 15px;
}
.form .initial-data .grey .collapse h4,
.form .requested-data .grey .collapse h4 {
  color: #000;
  font-size: 13px;
  padding: 6px 20px;
  background-color: #fff;
  margin: 0;
}
.form .initial-data .grey .collapse .btn,
.form .requested-data .grey .collapse .btn {
  background-color: #fff;
  font-size: 13px;
  border: 1px solid #ccc;
  padding: 6px 30px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.form .initial-data .grey .collapse .btn:hover,
.form .requested-data .grey .collapse .btn:hover {
  background-color: #1c84c6;
  color: #fff;
}
.form .initial-data .grey .collapse .table,
.form .requested-data .grey .collapse .table,
.form .initial-data .grey .collapse .table-hover,
.form .requested-data .grey .collapse .table-hover,
.form .initial-data .grey .collapse .table-bordered,
.form .requested-data .grey .collapse .table-bordered {
  border: 1px solid #e4e4e4;
}
.form .initial-data .grey .collapse:last-child,
.form .requested-data .grey .collapse:last-child {
  padding-bottom: 7px;
}
.form .file-upload {
  padding: 0;
  margin-left: 13px;
}
.form .file-upload h4 {
  color: #000;
  font-size: 13px;
}
.col-lg-7 .btn {
  background-color: #fff;
  font-size: 13px;
  border: 1px solid #ccc;
  padding: 6px 30px;
}
.col-lg-7 .btn:hover {
  background-color: #1c84c6;
  color: #fff;
}
.row .col-xs-4 {
  padding-right: 0px;
}
